*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: 'LeckerliOne';
   src: url('../fonts/LeckerliOne-Regular.ttf')
}

body{
    font-family: 'Times New Roman';
    background:#E4B7BF;
}

img{
    max-width:100%;
}

a:link{
  color:#8B8000;
}
a:hover{
  color:#E75480;
}
a:visited{
  color: 411900;
}
a:active{
  color:whitesmoke;
}

header{
  position: relative;
}

header img{
  position: absolute;
  bottom: 0.1em;
  right: 1em;
  height: 80%;
}

nav{
  position: absolute;
  bottom: 16em;
  font-size: larger;
}

nav ul{
  display: flex;
  list-style-type: none; 
}

nav ul li a{
  font-family: 'LeckerliOne', sans-serif;
  text-decoration: none;
  color: #411900;
  padding: 0 2em;
  margin: 1em;
  background-color:#E4B7BF;
  text-align: center;
  border-radius: 0.3em;
  transition: all 300ms ease;
}

nav ul li a:hover {
  border: 0.3em solid hotpink;
   color:hotpink;
   background: skyblue;
  }

h1, h2, h3, h4{
  font-family: 'LeckerliOne', sans-serif;
}

h1{
  background-image: linear-gradient(whitesmoke, #FDFD96);
  font-size: 3em;
  color:#E4B7BF;
  padding: 3em;
  border-bottom: 0.05em solid whitesmoke;
}

main h2{
  color: white;
  background-color:#D695C1;
  padding: 0.9em;
  text-align: center;
  border: 0.05em solid white;
  border-radius: 1em;
  width: 17em;
  margin: 3em auto;
}

.home section ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  margin: 1em; 
}

main section ul:first-of-type img:hover{
  border: 0.3em solid #D695C1;
  color: #D695C1;
  background-image: linear-gradient(#FDFD96, #D695C1)
}

main section ul:first-of-type img{
transition: all 300ms ease;
}

main section ul figcaption{
  font-family: 'Leckerli One', sans-serif;
  color: white;
  background-color: #D695C1;
  padding: 0.3em;
  text-align: center;
  border: 0.1em solid white;
  border-radius: 0.3em;
  width: 9em;
  margin: 3em auto;
}

.whatarecats{
  text-align: center;
  width: 40em;
  margin: 5em auto;
}

footer ul li a{
  text-decoration: none;
  list-style-type: disc;
}

footer{
  background-image: linear-gradient(#FDFD96, whitesmoke);
  font-size: 1em;
  color:#E4B7BF;
  padding: 4em;
  border-top: 0.1em solid whitesmoke;
}

/* food html */

main{
  margin: 2em 5em 2em 2em;
}

figcaption{
  color:grey;
  margin-bottom: 1.5em;
}

.goodbadfoods p{
  width: 40em;
  margin-bottom: 0.5em;
}

h3{
  margin: 2em 0 1em 0;
}

.goodbadfoods a:last-of-type, 
.care a:last-of-type,
.moreinfo a:last-of-type{
  font-family: 'LeckerliOne', sans-serif;
  text-decoration: none;
  color:white;
  background-color:#D695C1;
  border: 0.1em solid white;
  border-radius: 0.3em;
  margin-left: 70em;
  padding: 0.5em;
  transition: all 300ms ease;
}

.moreinfo a:last-of-type{
  margin-left: 45em;
}

.goodbadfoods a:last-of-type:hover, 
.care a:last-of-type:hover,
.moreinfo a:last-of-type:hover{
border: 0.3em solid hotpink;
color:hotpink;
background: skyblue;
}

 /* catcare html */

.goodbadfoods ul, .care ul{
  list-style-type:circle;
  width: 30em;
  margin: auto;
}

.care p{
  width: 50em;
}

.orangecat{
position: absolute;  
top: 34em;
left: 65%;
}

.care section:last-of-type p{
  margin: 2em auto;
  text-align: center;
  
}

 /* moreinfo html */

 .moreinfo{
  width: 55em;
  margin: auto;
 }

 .moreinfo p{
  margin-bottom: 2em;
 }

 h4{
  margin-bottom: 0.5em
 }

 video{
  margin-bottom: 2em;
 }

.moreinfo div, .moreinfo div{
  color: white;
 }
